@model SIA_Portal.Models.AdminModels.ManageAccountDivisionModel
@using SIA_Portal.Constants
@using SIA_Portal.Models.ObjectRepresentations
@using SIA_Portal.Models.AdminModels
@{
    ViewBag.Title = "Admin_ManageAccountDivisionPage";
    Layout = "~/Views/Shared/Shared_NavBar.cshtml";
}


<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Google Fonts CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Res/Css/forms_account_style.css" />
    <title>Manage Account Divisions</title>

    <style>
        .pagination {
            display: flex;
            justify-content: center;
        }

            .pagination a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
            }
    </style>
</head>

<body>
    <main>
        @using (Html.BeginForm(ActionNameConstants.ADMIN_SIDE__MANAGE_ACCOUNT_DIVISION_PAGE__EXECUTE_ACTION, ControllerNameConstants.ADMIN_CONTROLLER_NAME))
        {
            Html.HiddenFor(m => Model.AdGetParam);
            Html.HiddenFor(m => Model.AdGetParam.Fetch);
            Html.HiddenFor(m => Model.AdGetParam.Offset);

            Html.HiddenFor(m => Model.AdGetParam.TextToContain);
            Html.HiddenFor(m => Model.CurrentPageIndex);
            for (int i = 0; i < Model.AdGetParam.OrderByParameters.Count; i += 1)
            {
                Html.HiddenFor(m => Model.AdGetParam.OrderByParameters[i]);
            }
            <button type="submit" hidden="hidden" name="executeAction" value="TextFilterSubmit"></button>


            <center>
                <div class="section-1">

                    <p> Actions </p>
                    <br>
                    <center>
                        <button type="submit" name="executeAction" value="CreateAction" class="btn">Create New Account Division</button>
                        <button type="submit" name="executeAction" value="DeleteAction" class="btn"> Delete Selected Account Division</button>
                        <button type="submit" name="executeAction" value="EditAction" class="btn">Edit Selected Account Division</button>
                    </center>
                </div>
            </center>

            <center>
                <div class="section-2">
                    <center>
                        <div class="right-aligned-container">
                            <label>Name filter: </label> @Html.TextBoxFor(m => m.NameFilter, new { autocomplete = "off" })
                        </div>

                        <br>
                        <p> Account Division </p>
                        <br>


                        <table style="width:95%">

                            <tr>
                                <th>Name</th>
                                <th>Select</th>
                            </tr>


                            @for (var i = 0; i < Model.EntityRepresentationsInPage.Count; i++)
                            {

                                <tr>
                                    @Html.HiddenFor(m => Model.EntityRepresentationsInPage[i].Id)
                                    <td>@Html.DisplayFor(m => Model.EntityRepresentationsInPage[i].Name)</td>
                                    <td>@Html.CheckBoxFor(m => Model.EntityRepresentationsInPage[i].IsSelected)</td>
                                </tr>
                            }
                        </table>


                        <div class="pagination">

                            @foreach (int i in (Model.GetPageIndicesToDisplayBasedOnCurrentPageIndex()))
                            {
                                <button type="submit" name="executeAction" value="@i">@i</button>
                            }

                        </div>
                    </center>
                </div>
            </center>
        }
    </main>
</body>

