@model SIA_Portal.Models.GenericUserModel.ChangeOwnCredentialsModel
@using SIA_Portal.Constants;
@{
    Layout = null;
}

<!DOCTYPE html>


<style type="text/css">

    .fakeLink {
        border: 0px;
        background-color: transparent;
        color: blue;
        cursor: pointer;
    }

        .fakelink:hover {
            text-decoration: underline;
        }

    .box {
        text-align: center;
        width: 80%;
        border: 1px solid black;
        padding: 1rem;
        margin: 1% 10% 5% 10%;
        background-color: white;
    }

        .box input {
            width: 50%;
        }

    .dropdown,
    .textarea {
        width: 50%;
    }

    .btn-req {
        cursor: pointer;
        border: 1px solid black;
        background-color: blue;
        height: 50px;
        width: 200px;
        font-size: 15px;
        padding: .5rem;
        color: white;
    }

    .center {
        text-align: center;
    }

    .main-container {
        border: 1px solid black;
        margin: auto;
        background-color: rgb(128, 128, 128, 0.6);
        width: 50%;
        height: auto;
    }

        .main-container h2 {
            color: black;
            margin: 5%;
        }

    .button {
        text-align: center;
        margin-bottom: 20px;
    }
</style>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Change Credentials</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="~/Res/Css/dashboard.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>

</head>

<html>

<body class="sb-nav-fixed">
    @using (Html.BeginForm(ActionNameConstants.GENERIC_USER__MUST_CHANGE_CREDENTIALS__GO_TO, ControllerNameConstants.GENERIC_USER_CONTROLLER_NAME))
    {
        <div class="main-container">
            <h2 class="center">Account Settings</h2>
            <br/>
            <p class="center">This account&#39;s credentials must be changed before proceeding. You will need to log in afterwards.</p>
            <br/>

            <div class="box">
                <center>
                    <h3>Password</h3>
                </center>
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <p>New Username</p>
                        </div>
                        <!--<div class="col-8"><input type="password" autocomplete="off" required></div>-->
                        @Html.TextBoxFor(m => m.InputNewUsername, new { @class = "col-8", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.InputNewUsername, "", new { @class = "text-danger", @style = "color:darkred" })
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-4">
                            <p>New password</p>
                        </div>

                        @Html.PasswordFor(m => m.InputNewPassword, new { @class = "col-8" })
                        @Html.ValidationMessageFor(m => m.InputNewPassword, "", new { @class = "text-danger", @style = "color:darkred" })
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-4">
                            <p>Confirm Password</p>
                        </div>

                        @Html.PasswordFor(m => m.InputConfirmNewPassword, new { @class = "col-8" })
                        @Html.ValidationMessageFor(m => m.InputConfirmNewPassword, "", new { @class = "text-danger", @style = "color:darkred" })
                    </div>
                    <br />
                    <div class="row">


                    </div>

                    <center class="row">
                        @{
                            bool toShow = false;
                            string colorToUse = "";

                            if (Model.ChangeOwnSettingsStatus == ActionStatusConstants.STATUS_FAILED)
                            {
                                toShow = true;
                                //colorToUse = "color:darkred";
                            }
                            else if (Model.ChangeOwnSettingsStatus == ActionStatusConstants.STATUS_SUCCESS)
                            {
                                toShow = true;
                                //colorToUse = "color:green";
                            }
                            colorToUse = ActionStatusConstants.GetColorAsStringAssociatedWithStatus(Model.ChangeOwnSettingsStatus);

                            if (toShow)
                            {
                                <center>
                                    <div>
                                        <p style="@colorToUse">@Model.StatusMessage</p>
                                    </div>
                                </center>
                            }
                        }
                    </center>
                </div>
            </div>

            <div class="button">
                <button type="submit" class="btn-req">Save Changes</button>
                <!-- //Html.ActionLink("Save Changes", ActionNameConstants.GENERIC_USER_EXECUTE_CHANGE_OWN_ACCOUNT_SETTINGS, new { }, new { class = "btn_req"}) -->
            </div>

        </div>
    }

</body>

</html>
